@import '../../../assets/styles/roots';
.cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto );
    column-gap: 10px;
    width: 90%;
    margin: 0 auto;
    &-input {
        border: 1px solid $grey;
        padding: 10px;
        margin-top: 4px;
        border-radius: 10px;
        grid-column: 2 span;
        outline: none;
        width: 100%;
        background-color: unset;
        &__small {
            grid-column: 1 span !important;
        }
    }
    &-text {
        grid-column: 2 span;
        @extend %text;
        margin: 0;
        text-align: start;
    }
    &-numbers {
        display: flex;
        &Input {
            border: unset;
            width: 70%;
            height: 100%;
            outline: none;
        }
        &Img {
            width: fit-content;
        }
    }
    &-submit {
        @extend %button;
        border: unset;
        padding: 15px 31.5%;
        width: 80%;
        margin: auto;
        grid-column: 2 span;
        margin-top: 30px;
        &__loading {
            background-color: $soft-red;
            padding: 4px 31.5%;
        }
    }

}
.cart__small {
    grid-column: 1 span !important;
}
