@import '../../../assets/styles/roots';
.skrill{
    display: flex;
    width: 100%;
}
.skrill-button {
    @extend %button;
    outline: none;
    margin: 0 auto;
    width: min-content;
    border: unset;
    padding: 16px 15vw;
    font-size: 1.8em;
}
