@import '../../../assets/styles/roots';
.description {
    margin: 15px auto;
    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 34px;
        margin: 20px auto;
        list-style: none;
        max-width: 837px;
        justify-content: center;
        &Item {
            box-shadow: rgba(0, 0, 0, 0.13) 0px 20px 60px;
            padding: 26px;
            text-align: center;
            border-radius: 20px;
            height: 195px;
            font-size: 1em;
            min-width: 280px;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &Img {
            width: 70px;
            height: 70px;
        }
    }
    &-text {
        font-size: 1.7em;
        font-weight: bold;
    }
}
