@import '../../../assets/styles/roots';
$media-mid: 680px;
.lhero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
    width: 92%;
    margin: auto;
    &-img {
        width: 100%;
        height: auto;
        @include response-to(760px) {
            width: 49%;
        }
    }
    &-button {
        @extend %button;
        padding: 15px;
    }
    &-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include response-to(760px) {
            width: 49%;
        }
        &Title {
            font-size: 11vw;
            text-align: center;
            @include response-to(760px) {
                font-size: 5em;
            }
        }
    }
    
}
