@import '../../../assets/styles/roots';
.suscribe {
    box-shadow: 0px 20px 60px #00000021;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 500px;
    h2 {
        @extend %title;
        font-weight: bold;
        text-align: center;
        margin-left: 0;
    }
    p {
        @extend %text;
        margin-top: 10px;
        text-align: center;
    }
    input {
        border-radius: 10px;
        background: unset;
        width: 80%;
        border: 1px solid $red;
        padding: 20px 31.5%;
        color: $dark;
        border-width: 1px;
        padding: 1.25em 5px;
        font-size: 1.3em;
        font-weight: unset;
        margin: 5px;
        outline: none;
    }
    
    a {
        @extend %button;
        padding: 20px 26.5%;
        margin: 20px 0;
    }
}
