@import '../../../assets/styles/roots';
.description {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    max-width: 550px;
    @include response-to(920px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        max-width: none;
    }
    img {
        margin-top: 15px;
        width: 100%;
        max-width: 450px;
        margin: auto;
        @include response-to(920px) {
            grid-row: 3 span;
            margin: 0;
        }
    }
    & h2 {
        @extend %title;
    }
    & p {
        @extend %text;
    }
    & ul {
        display: flex;
        flex-direction: column;
        margin: 30px;
        margin-top: 1px;
        list-style: none;
        align-self: flex-start;
        & li {
            @extend %text;
            text-align: inherit;
            gap: 5px;
            display: flex;
            align-items: center;
            margin: 0;
            margin-bottom: 10px;
            svg {
                fill: $green;
                width: 30px;
                height: 30px;
                margin-right: 5px;
            }
        }
    }
}