@import '../../../assets/styles/roots';
.lhero {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    img {
        width: 100%;
        max-width: 450px;
        margin: auto;

    }
    h1 {
        @extend %title;
    }
    & p {
        @extend %text;
    }
    & a {
        background-color: $red;
        text-decoration: none;
        height: 50px;
        color: $white;
        width: 80%;
        margin: 39px;
        max-width: 80px;
        padding: 13px 31.5%;
        box-shadow: rgba(245, 56, 56, 0.35) 0px 20px 40px;
        border-radius: 10px;

    }
}