$white: #FFF;
$dark:  #5c5656;
$dark-grey: #312b2b;
$red: #e42421;
$grey: #DDD;
$green: #2fab73;

// media query
@mixin response-to($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

%title {
    width: 76%;
    font-size: 2.5em;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: 500;
}
%text {
    font-size: 1.4em;
    margin: 30px;
    color: $dark-grey;
    text-align: justify;
    line-height: 30px;
}
%button {
    background-color: $red;
    text-decoration: none;
    color: $white;
    width: 80%;
    padding: 20px 31.5%;
    box-shadow: rgba(245, 56, 56, 0.35) 0px 20px 40px;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    transition: all 200ms ease;
    &:hover {
        background-color: $dark-grey;
    }
}
%ligth-button {
    border-radius: 1000px;
    border: 1px solid $red;
    color: $red;
    padding: 1.3rem 4.5rem;
    transition: all 200ms ease;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        background-color: $red;
        color: $white;
    }
}

