@import './roots';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: $white;
    color: $dark;
}
#app {
    max-width: 1200px;
    margin: 0 auto;
}
.title {
    @extend %title;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.text {
    @extend %text;
    width: 80%;
    margin: 0 auto;
}
.secundary-title {
    font-size: 2em;
    text-align: center;
}
