@import '../../assets/styles/roots';
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
        @extend %title;
        font-size: 3em;
        margin: auto;
        width: 80%;
        margin-bottom: 5px;
    }
    &-form {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
        margin: auto;
        margin-top: 17px;
        &__register {
            grid-template-rows: repeat(7, 1fr);
        }
        &__input {
            grid-column: 4 span;
            border: 1px solid $grey;
            margin-bottom: 10px;
            border-radius: 10px;
            padding-left: 5px;
            outline: none;
        }
        &__check {
            grid-column: 4 span;
            display: flex;
            align-items: center;
        }
        &__text {
            @extend %text;
            grid-column: 2 span;
            margin: 0;
            width: max-content;
            font-size: 1em;
            text-decoration: none;
            color: $dark-grey;
            &:hover {
                text-decoration: underline;
            }
            &-left {
                justify-self: flex-end;
            }
        }
        &__button {
            @extend %button;
            grid-column: 2 span;
            padding: 0;
            border: none;
            box-shadow: none;
            &-white {
                @extend %ligth-button;
                grid-column: 2 span;
                justify-self: flex-end;
                padding: 1.3rem 1.9rem;
                border-radius: 10px;
                font-size: 1.5em;
            }
        }
    }
}
.login-container {
    display: grid;
    grid-template-columns: auto auto;
}
.login__left {
    background: rgba(229, 229, 229, 0.41);
    display: none;
    &-img {
        width: 50vw;
    }
}
@media only screen and (min-width: 700px) {
    .login-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .login {
        grid-column: 1/2;
        &-form__button-facebook {
            margin: auto;
            margin-top: 15px;
        }
    }
    .login__left {
        display: block;
        grid-column: 2/3;

    }
    
}
