@import '../../assets/styles/roots';

.pagos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > :nth-child(2) {
        width: 33%;
        min-width: 284px;
    }
    button {
        @extend %button;
    }
}
