@import '../../assets/styles/roots';
.reproductor {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    max-width: 964px;
    margin:  40px auto;
    &-video-container {
        display: flex;
        flex-direction: column;
        gap: 7px;
        align-items: center;
    }
    &-video {
        width: 96vw;
        height: 50vw;
        border: none;
        max-width: 700px;
        margin: 7px 2%;
        border-radius: 10px;
        &__title {    
            align-self: baseline;
            margin-left: 7%;
            font-size: 2.8em;
            text-align: center;

        }
    }
    &-likes {
        display: flex;
        gap: 5px;
        margin-right: 2%;
        align-self: flex-end;
    }
    &-description {
        font-size: 1.2em;
        text-align: justify;
        width: 94%;
        margin: auto;
        background-color: #ddd;
        border-radius: 10px;
        padding: 15px;
    }
    &-content-title {
        margin-left: 3%;
        margin-bottom: 2%;
    }
    &-comment {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
    }
}
// @media only screen and (min-width: 700px) {
//     .reproductor {
//         grid-template-rows: 1fr;
//         grid-template-columns: 75% 25%;
//     }
// }
@media only screen and (min-width: 700px) {
    .reproductor-video {
        height: 30vw;
        &__title {
            align-self: center;
            margin: 0;
        }
    }
}
