@import '../../../assets/styles/roots';
.message-default {
    padding: 5px;
    border-radius: 10px;
    min-width: 275px;
    text-align: center;
    color: $white;
    min-height: 25px;
    font-size: 1.3em;
    &__success {
        background-color: #5db936;
    }
    &__alert {
        background-color: #f47c69;
    }
}
