@import '../../../assets/styles/roots';
.lfooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 25% 10% auto;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 70%;
    justify-items: center;
    svg {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }
    p {
        @extend %text;
        grid-column: 3 span;
        margin: 10px 0;
    }
    a {
        font-size: 1.2em;
    }
}
