@import '../../../assets/styles/roots';
.lfooter {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 6em;
    width: 70%;
    gap: 10px;
    justify-content: center;
    &-text {
        width: 100% !important;
        text-align: center !important;
    }
    a {
        font-size: 1.2em;
    }
}
