@import '../../../assets/styles/roots';

.lheader {
    height: 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.3em;
    align-items: center;
    overflow: hidden;
    &-logo {
        height: auto;
        width: 111px;
        margin-left: 25px;
        cursor: pointer;
    }
    &-menu {
        width: 3em;
        height: 3em;
        margin-right: 10px;
        @include response-to(920px) {
            display: none;
        }
    }
    &-links {
        display: flex;
        left: 100%;
        position: fixed;
        transition: 0.4s;
        z-index: 2;
        top: 130px;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: $dark;
        width: 100%;
        font-size: 1.6rem;
        line-height: 23px;
        &__item {
            font-weight: bold;
            text-decoration: none;
            color: $white;
            margin: 20px;
        }
        &__span {
            height: 5px;
            background-color: $white;
            width: 50px;
            margin-left: 20px;
        }
        @include response-to(920px) {
            display: flex;
            position: unset;
            width: 78%;
            flex-direction: row;
            background-color: unset;
            align-items: center;
            justify-content: flex-end;
            &__item {
                color: $dark;
                font-weight: 100;
                margin: 10px;
                &:hover {
                    color: $red;
                }
            }
            height: 100%;
            &__span {
                background-color: unset;
                width: 0%;
            }
            & :nth-child(6) {
                font-weight: bold;
                &:hover {
                    color: $dark;
                }
            }
            & :last-child {
                border-radius: 1000px;
                border: 1px solid $red;
                color: $red;
                padding: 1.3rem 4.5rem;
                transition: all 200ms ease;
                font-weight: bold;
                &:hover {
                    background-color: $red;
                    color: $white;
                }
            }

        }
    }
}
