@import '../../../assets/styles/roots';
.cardList {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    &-title {
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: bold;
    }
    &-link {
        text-decoration: none;
        color: $dark;
    }
    &-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

    }
}
