@import '../../../assets/styles/roots';
.educador {
    &-list {
        display: flex;
        overflow-x: auto;
        list-style: none;
        gap: 40px;
        margin: 20px auto;
        max-width: 962px;
        padding: 0 10px;
        padding-bottom: 15px;
        &Item {
            cursor: pointer;
            border:  2px solid $red;
            height: 100px;
            min-width: 100px;
            border-radius: 100px;
            background-position: cover;
            overflow: hidden;
            scroll-snap-align: center;
            transition: 450ms;
            transform-origin: center left;
        }
        &Img {
            height: 100%;
            width: 100%;
        }
    }
}
/* scroll */
.educador-list::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
}
.educador-list::-webkit-scrollbar-track{
    background-color: #F5F5F5;
    border-radius: 10px;
}
.educador-list::-webkit-scrollbar-thumb{ 
    background-color: $grey;
    border-radius: 10px;
}
