@import '../../../assets/styles/roots';
.hero {
    display: grid;
    grid-area: repeat(2, auto);
    &-data {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 50%;
        justify-self: center;
        &__hello {
            align-self: center;
            padding-left: 10px;
            min-width: 160px;
            justify-self: center;
            font-size: 2.5em;
            margin-bottom: 20px;
        }
    }
    &-search {
        width: 80%;
        margin: auto;
        border: 1px black solid;
        border-radius: 10px;
        padding: 8px 5px;
        display: flex;
        align-items: center;
        max-width: 550px;
        &__input {
            outline: none;
            border: unset;
            margin-left: 3px;
            max-width: 60%;
            width: 100%;
        }
        &__input, &__input::placeholder {
            font-family: 'Open Sans', sans-serif;
            color: $dark;
        }
    }
}
