.hero {
    display: grid;
    grid-area: repeat(2, auto);
    &-data {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 50%;
        justify-self: center;
        &__hello {
            align-self: center;
            padding-left: 10px;
            min-width: 160px;
            justify-self: center;
        }
        &__avatar {
            border-radius: 20px;
        }
    }
    &-search {
        width: 80%;
        margin: auto;
        border: 1px black solid;
        border-radius: 10px;
        padding: 8px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__input {
            border: unset;
            margin-left: 3px;
            max-width: 60%;
        }
    }
}
