@import '../../../assets/styles/roots';
.referred {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    &-title {
        @extend %title;
        margin: 0;
        font-size: 1.7em;
        text-align: center;
        &__b {
            font-size: 2.5em;
        }
    }
    &-text {
        @extend %text;
        font-size: 1em;
    }
}
