@import '../../../assets/styles/roots'; 
.setAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    margin: 10px auto;
    &-title {
        @extend %title;
        width: 100%;
        margin: 0;
        font-size: 1.5em;
        text-align: center;
    }
    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-top: 17px;
        gap: 5px;
        max-width: 400px;
        &Input {            
            border: 1px solid $grey;
            border-radius: 10px;
            padding: 10px;
            outline: none;
            width: inherit;
            &__submit {
                @extend %ligth-button;
            }
            &::placeholder {
                color: $dark;
            }

        }
        &Text {
            font-size: 1.3em;
            text-align: center;
        }
    }
}
