@import '../../../assets/styles/roots';
.superCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 79vw;
    border-radius: 10px;
    cursor: pointer;
    height: 51vw;
    justify-content: center;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    &-img {
        filter: brightness(0.5);
        width: 100%;
        height: 100%;
        position: absolute;
    }
    &-container {
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        margin: 10px auto;
        justify-content: center;
        gap: 20px;
    }
    &-mainTitle {
        font-size: 2em;
        margin: 15px auto;
        width: fit-content;
    }
    &-text {
        font-size:1.5em;
        text-align: center;
    }
}
@media only screen and (min-width: 466px) {
    .superCard {
        min-width: 368px;
        height: 237px;
    }

}
