@import '../../../assets/styles/roots'; 
.transaccionCard {
    padding: 20px;
    font-size: 1.5em;
    border-bottom: 1px solid;
    &:hover {
        background-color: $grey;
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        margin: auto;
    }
    &-circle {
        border-radius: 100px;
        height: 10px;
        width: 10px;
        margin-top: 3px;
        &__complete {
            background-color: $green
        }
        &__wating {
            background-color:  orange
        }
        &__fail {
            background-color: $grey
        }
    }
    &__whitCircle {
        display: flex;
        align-items: center;
        gap: 10px;
    }

}
// no deberia ir aqui pero weno ya esta :)
.transaccionValidate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 15px;
    &-button {
        @extend %ligth-button;
        width: 100%
    }
    &-input {
        @extend %input;
        width: 100%; 
    }
    
}
@media only screen and (min-width: 536px) {
    .transaccionValidate {
        &-button {
            width: 40%;
        }
        &-input {
            width: 50%;
        }
    }
}
